body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%)
}

#container{
    padding: 30px;
    box-shadow: 0 0 20px black;
    border-radius: 12px;
    background-color: rgb(200, 160, 216);
}